@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Styles {
<link rel="stylesheet" href="~/css/PilotStream.css" />
}

@section Scripts {
<script src="//www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
<script src="~/js/karaoke.js"></script>
<script src="~/js/equalizer.js"></script>
<script src="~/js/audioPlayer.js"></script>
<script src="~/js/pilotStream.js"></script>
<script src="~/js/loadAlbum.js"></script>
}

<partial name="_LoadAlbumModal" />

<div id="audioPlayer" class="container">
    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <img id="songImage" class="media-object img-fluid" src="" />
            <div class="row">&nbsp;</div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-9">
            <div class="container">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span id="songTrackAddon" class="input-group-text">Ścieżka</span>
                    </div>
                    <input type="text" readonly class="form-control" id="songTrack" aria-describedby="songTrackAddon" value="">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span id="songTitleAddon" class="input-group-text">Tytuł</span>
                    </div>
                    <input type="text" readonly class="form-control" id="songTitle" aria-describedby="songTitleAddon" value="">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span id="songArtistAddon" class="input-group-text">Wykonawca</span>
                    </div>
                    <input type="text" readonly class="form-control" id="songArtist" aria-describedby="songArtistAddon" value="">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span id="songAlbumAddon" class="input-group-text">Album</span>
                    </div>
                    <input type="text" readonly class="form-control" id="songAlbum" aria-describedby="songAlbumAddon" value="">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span id="songYearAddon" class="input-group-text">Rok</span>
                    </div>
                    <input type="text" readonly class="form-control" id="songYear" aria-describedby="songYearAddon" value="">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span id="songGenereAddon" class="input-group-text">Gatunek</span>
                    </div>
                    <input type="text" readonly class="form-control" id="songGenere" aria-describedby="songGenereAddon" value="">
                </div>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>

    <div class="row">
        <audio>
            <source src="" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
    <partial name="_ControlButtons" />
    <div id="karaokePanel" class="row" style="height: 250px">
        <div id="karaokeBackground" class="karaoke-background"></div>
        <div id="karaokeBox" class="col-12 karaoke rounded">
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div id="accordion" class="row">
        <div class="card" style="width: 100%">
            <div class="card-header container" id="playlistHeading">
                <div class="row">
                    <div class="col-7 col-md-9 col-xl-10" data-toggle="collapse" data-target="#playlistContainer" aria-expanded="true" aria-controls="playlistContainer">
                        <h3>Playlista</h3>
                    </div>
                    <div class="col-5 col-md-3 col-xl-2">
                        <button type="button" id="loadAlbumButton" class="btn btn-primary float-right">
                            Wczytaj folder
                        </button>
                    </div>
                </div>
            </div>
            <div id="playlistContainer" class="collapse show" aria-labelledby="playlistHeading" data-parent="#accordion">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <input type="search" class="form-control playlist-filter" placeholder="Filtruj" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table table-hover table-sm">
                                        <thead>
                                            <tr>
                                                <th>Lp</th>
                                                <th>Tytuł</th>
                                                <th>Artysta</th>
                                                <th>Album</th>
                                                <th>Czas</th>
                                            </tr>
                                        </thead>
                                        <tbody class="playlist-body">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
</div>

